.headerLeft {
  background-color: rgb(10, 10, 117);
  text-align: right;
  
  color: white;
}

.myNav {
  width: 100%
}

.mySecondNav {
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey
}

.right-sec {
  background-color: lightgrey;
}


.headerRight {
  background-color: rgb(197, 0, 0);
  color: white;
}

@font-face {
  font-family: skyfont;
  src: url(./imagesAndFonts/SSportsD-Medium.woff);
}

body {  
  font-family: skyFont
}

.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}

.side-pic {
  max-width: 100%;
}
