.headerLeft {
  background-color: blue;
  text-align: right;
  
  color: white;
}

.myNav {
  width: 100%
}

.mySecondNav {
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey
}


.headerRight {
  background-color: red;
  color: white;
}

@font-face {
  font-family: skyfont;
  src: url(./imagesAndFonts/SSportsD-Medium.woff);
}

body {  
  font-family: skyFont
}

